<ion-content class="ion-padding login-bg">
  <div class="background-blur"></div>

  <ion-card class="login-card">
    <ion-card-header>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" class="logo"></ion-img> <!-- Reemplaza 'assets/logo.png' con la ubicación de tu logo -->
    </ion-card-header>

    


    
    <ion-card-content>
      <ion-list lines="none">
        <ion-item class="input-field">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item class="input-field">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="full" shape="round" color="secondary" class="login-button">
        Iniciar Sesión
      </ion-button>
      
      <ion-button expand="full" shape="round" color="secondary" class="login-button">
        Registrate
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

